<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="stencilConfigurationSection" type="MTI.Console.StencilConfigurationSection, SystemManager" requirePermission="false" />
    <section name="assemblyConfigurationSection" type="MTI.Console.AssemblyConfigurationSection, SystemManager" requirePermission="false" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="Console.SystemDirectory" value="." />
    <add key="Console.LibraryDirectory" value="..\..\UserLibrary" />
    <add key="Console.Verbose" value="false" />
    <add key="Console.RecompileOutOfDateProjects" value="false" />
    <add key="Console.Panel.Title" value="EGSE Payload Services Unit" />
    <add key="Console.Panel.ErrorOnLED" value="MTI.Console.Images.blueon.bmp" />
    <add key="Console.Panel.ErrorOffLED" value="MTI.Console.Images.blueoff.bmp" />
    <add key="Console.Panel.ReadyOnLED" value="MTI.Console.Images.blueon.bmp" />
    <add key="Console.Panel.ReadyOffLED" value="MTI.Console.Images.blueoff.bmp" />
    <add key="Console.Panel.ResetOnLED" value="MTI.Console.Images.blueon.bmp" />
    <add key="Console.Panel.ResetOffLED" value="MTI.Console.Images.blueoff.bmp" />
    <add key="Console.Network.ServerOn" value="false" />
    <add key="Console.Network.ServerEndPoint" value="127.0.0.1:2020" />
    <add key="Time.UTCCorrections" value=".\finals2000A.txt" />
    <add key="Time.TAI-UTC" value=".\tai-utc.dat" />
    <add key="GMSEC.HostName" value="localhost" />
    <add key="GMSEC.BusType" value="gmsec_mb" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="MTI.Trading.ConnectionString" connectionString="Data Source= localhost\MAHERTECH-ACER; Initial Catalog = MTI.Trading; Integrated Security = True" providerName="System.Data.SqlClient" />
    <add name="ExpectedEvents.ConnectionString" connectionString="Data Source= localhost\SQLEXPRESS; Initial Catalog = FDGSS.ExpectedEvents; Integrated Security = True" providerName="System.Data.SqlClient" />
    <add name="ExpectedEvents.ConnectionString" connectionString="Data Source= localhost\SQLEXPRESS; Initial Catalog = FDGSS.ExpectedEvents; Integrated Security = True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <stencilConfigurationSection>
    <stencils>
      <add name="Basic" fileName="Basic.vssx" access="ReadOnly" />
      <add name="MTI.Console" fileName="MTI.Console.vssx" access="ReadOnly" />
       <add name="MTI.Logic" fileName="Logic.vssx" access="ReadOnly" />
       <add name="Time" fileName="Time.vssx" access="ReadOnly" />
       <add name="Common" fileName="Common.vssx" access="ReadOnly" />
       <add name="GES.Serialization" fileName="Serialization.vssx" access="ReadOnly" />
       <add name="GES.Communications" fileName="Communications.vssx" access="ReadOnly" />
       <add name="GES.Communications.Interfaces" fileName="Interfaces.vssx" access="ReadOnly" />
       <add name="GES.Commands" fileName="Commands.vssx" access="ReadOnly" />
       <add name="GES.Commands.Definitions" fileName="Command.Definitions.vssx" access="ReadOnly" />
       <add name="GES.Telemetry" fileName="Commands.vssx" access="ReadOnly" />
       <add name="GES.Telemetry.Definitions" fileName="Command.Definitions.vssx" access="ReadOnly" />
       <add name="GES.Checksums" fileName="Checksums.vssx" access="ReadOnly" />
       <add name="GES.Tables" fileName="Commands.vssx" access="ReadOnly" />
       <add name="CFS.Tables.Definitions" fileName="Commands.vssx" access="ReadOnly" />
       <add name="CFS.DataStructures" fileName="DataStructures.vssx" access="ReadOnly" />
       <add name="CFS.Commands" fileName="CFS.Commands.vssx" access="ReadOnly" />
       <add name="CFS.Telemetry" fileName="CFS.Commands.vssx" access="ReadOnly" />
       <add name="CFS.Tasks" fileName="CFS.Tasks.vssx" access="ReadOnly" />
    </stencils>
  </stencilConfigurationSection>
  <assemblyConfigurationSection>
    <assemblies>
      <!--"DO NOT INCLUDE IF ALREADY INCLUDED ABOVE IN STENCILS (i.e., Common.dll)"/-->
      <add assemblyName="System.dll" />
      <add assemblyName="Core.dll" />
      <!--add assemblyName="C:\Program Files (x86)\National Instruments\MeasurementStudioVS2012\DotNET\Assemblies\Current"/-->
    </assemblies>
  </assemblyConfigurationSection>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <gcAllowVeryLargeObjects enabled="true" />
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>